# Exercise sheet 2

Topics of this exercise sheet are:

* Work with Jupyter
* Lecture 2: Tidy data, pandas

Please let us know if you have questions or problems! <br>
Contact us during the exercise session or on [Piazza](https://piazza.com/unibas.ch/spring2024/63982)


**Automatic Feedback**

This notebook can be automatically graded using Otter grader. To find how many points you get, simply run `grader.check_all()` from a new cell.

### Setting up the grader

Please run the following two cells to set up the grading system.

In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("02-exercise-pids2024.ipynb")

In [22]:
import numpy as np
from pandas import DataFrame as df
import otter
grader = otter.Notebook()

## 1 - Tidy data (9 points)

### A (2 points)
We will use data published by the [World Bank](https://data.worldbank.org/indicator/SP.POP.TOTL) about population in countries.

In [23]:
import pandas as pd

population = pd.read_csv("population_data.csv", skiprows=3).dropna(how='all', axis=1)
population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

**Question 1**:
Manipulate the dataframe "population" to be tidy. Currently, column headers are values, not variable names.

* Make a new dataframe "population_melted" that contains the same data as "population", but
    * it has a new column "Year" containing the year of the observation
    * it has a new column "Population" containing the number of inhabitants of the country in this year
    * otherwise, it has exactly the same columns and data as "population"
*Hint*: you can use 'pd.melt'.

In [65]:
class Question1:
    population_melted = ...

In [50]:
grader.check("Question 1")

Question 1 results:
    Question 1 - 1 result:
        ❌ Test case failed
        Error at line 13 in test Question 1:
            assert_equal(len(get_population_melted(env)['Year']), 16226)
        TypeError: ellipsis' object is not subscriptable

    Question 1 - 2 result:
        ❌ Test case failed
        Error at line 17 in test Question 1:
              assert_equal(len(get_population_melted(env)['Country Name']),16226)
        TypeError: ellipsis' object is not subscriptable

    Question 1 - 3 result:
        ❌ Test case failed
        Error at line 28 in test Question 1:
              assert_equal(population_melted.loc[(population_melted["Country Name"] == "Switzerland") & (population_melted["Year"] == "1960")]["Population"].values[0], 5327827.0)
        AttributeError: ellipsis' object has no attribute 'loc

**Question 2**: Sort the dataframe population_melted by "Country Name" and "Year"

In [53]:
class Question2:
    # You can access the population from above as 
    # Question1.population_melted
    population_melted_sort = ...

In [54]:
grader.check("Question 2")

Question 2 results:
    Question 2 - 1 result:
        ❌ Test case failed
        Error at line 11 in test Question 2:
              assert_true(sorted(list(population_melted_sort['Country Name'])) == list(population_melted_sort['Country Name']))
        TypeError: ellipsis' object is not subscriptable

### B (3 points)
We will use data about the average height in countries around the world. It comes from [Kaggle](https://www.kaggle.com/majyhain/height-of-male-and-female-by-country-2022).

In [51]:
height = pd.read_csv("height_2022.csv")
height.head(-1)

,Rank,Country Name,Male Height in Cm,Female Height in Cm,Male Height in Ft,Female Height in Ft
0,1,Netherlands,183.78,170.36,6.03,5.59
1,2,Montenegro,183.30,169.96,6.01,5.58
2,3,Estonia,182.79,168.66,6.00,5.53
3,4,Bosnia and Herzegovina,182.47,167.47,5.99,5.49
4,5,Iceland,182.10,168.91,5.97,5.54
...,...,...,...,...,...,...
193,194,Guatemala,164.36,150.91,5.39,4.95
194,195,Mozambique,164.30,155.42,5.39,5.10
195,196,Papua New Guinea,163.10,156.89,5.35,5.15
196,197,Solomon Islands,163.07,156.79,5.35,5.14
197,198,Laos,162.78,153.10,5.34,5.02

**Question 3**: Make a new dataframe "height_tidy" where you removed the columns "Male Height in Ft", "Female Height in Ft"

In [55]:
class Question3:
    height_tidy = ...

In [56]:
grader.check("Question 3")

Question 3 results:
    Question 3 - 1 result:
        ❌ Test case failed
        Error at line 12 in test Question 3:
              if 'Female Height in Ft' in height_tidy:
        TypeError: argument of type 'ellipsis' is not iterable

**Question 4**: Manipulate the dataframe "height_tidy" to be tidy. Currently, multiple variables are stored in one column.

* Make a new dataframe "height_melt" that contains the same data as "height_tidy", but
    * it has a new column "Sex" containing a single character "M" or "F" for "male"/"female"
    * it has a new column "Height in Cm" containing data about the height in cm

In [ ]:
class Question4:
    
    # You can access height_tidy using Question3.height_tidy
    
    height_melt = ...
    ...

    # shrink the data on gender to one letter
    ...

    # show that it works
    height_melt.head(5)

In [ ]:
grader.check("Question 4")

### C (4 points)
We will work with data about billboards in the 2000s (as in the lecture).

In [ ]:
billboard = pd.read_csv("billboard_intermediate.csv")
billboard.head()

**Question 5:**: Manipulate the dataframe "billboard" into two dataframes that each store one observational unit.

* Make a new dataframe "billboard_songs" that contains information about the songs
    * It should contain these columns from the "billboard" dataframe: "artist.inverted", "track", "time", "genre"
* Make a new dataframe "billboard_charts" that contains information about the chart performance of the songs
    * It should contain these columns from the "billboard" dataframe: "date", "date.peaked", "week", "rank"
* Additionally, both dataframes should contain a column named "track_id" that gives each track a unique ID and links the information in the two dataframes.

(Hint: Pandas has a function [.groupby().ngroup()](https://stackoverflow.com/questions/39665374/how-to-make-a-group-id-using-pandas) that could help you with the track id)

In [66]:
class Question5:
    # First add the track id
    ...

    # Now split the dataframe
    ...
    billboard_songs = ...
    billboard_songs.head()

    billboard_charts = ...
    billboard_charts.head()

AttributeError: 'ellipsis' object has no attribute 'head'

In [63]:
grader.check("Question 5")

Question 5 results:
    Question 5 - 1 result:
        ❌ Test case failed
        Error at line 16 in test Question 5:
              assert_true(isinstance(billboard_songs, pd.DataFrame))
        AssertionError: False is not true

## 2 - EDA (6 points)

### A (2 points)
Let's answer one more question about billboard hits in the 2000s. Use the billboard, billboard_songs or billboard_charts dataframes.

**Question 6**: What was the number one hit (rank = 1) on 2000/07/29? This question may seem random (and it is), but this is the 2000s! This is the day on which Jennifer Aniston married Brad Pitt. Did they play this song? Who knows.

* Define one variable
    * "name_song": Name of the song that was at rank 1 on the given date

In [69]:
class Question6:
    ...
    name_song = ...
    name_song

In [70]:
grader.check("Question 6")

Question 6 results:
    Question 6 - 1 result:
        ❌ Test case failed
        Error at line 13 in test Question 6:
              assert_true(name_song == "It\'s Gonna Be Me")
        AssertionError: False is not true

### 2b (4 points)
Let's answer some questions about average heights. Use the height, height_tidy or height_melt dataframes.

**Question 7**: What's the country with the tallest men?

* Define two variables
    * "country_tallest_men": Name of the country of tallest men as a string
    * "height_tallest_men": Average height of men in this country in cm

(Hint: Pandas function max() can help here!)

In [ ]:
class Question7:
    ...

    country_tallest_men = ...
    height_tallest_men = ...

In [22]:
grader.check("Question 7")

Question 7 results: All test cases passed!

**Question8**: In which country is the difference of average heights between men and women largest?

* Define two variables
    * "country_largest_difference": Name of the country where the average height difference between men and women is largest
    * "largest_difference": Difference of average heights of men and women in this country in cm

In [ ]:
class Question8:
    ...

    ...

    country_largest_difference = ...
    largest_difference = ...

In [23]:
grader.check("Question 8")

Question 8 results: All test cases passed!

**Question 9**: What's (Pearson's) correlation value of average male and average female height?

* Define a new variable "corr_avg_heights" that contains the correlation value of average male and female heights

(Hint: Use Panda's function corr().)

In [ ]:
class Question9:
    corr_avg_heights = ...

In [ ]:
grader.check("Question 9")

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [35]:
grader.check_all()

Question 1 results: All test cases passed!

Question 2 results:
    Question 2 - 1 result:
        ❌ Test case failed
        Trying:
            assert_true(sorted(list(population_melted_sort['Country Name'])) == list(population_melted_sort['Country Name']))
        Expecting nothing
        **********************************************************************
        Line 1, in Question 2 0
        Failed example:
            assert_true(sorted(list(population_melted_sort['Country Name'])) == list(population_melted_sort['Country Name']))
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 2 0[0]>", line 1, in <module>
                assert_true(sorted(list(population_melted_sort['Country Name'])) == list(population_melted_sort['Country Name']))
            NameError: name 'assert_true' is not defined

Question 3 results:
    Question 3 - 1 result:
        ❌ Test case failed
        Trying:
            if 'Female Height in Ft' in height_tidy:
                assert_true(False)
        Expecting nothing
        **********************************************************************
        Line 1, in Question 3 0
        Failed example:
            if 'Female Height in Ft' in height_tidy:
                assert_true(False)
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 3 0[0]>", line 1, in <module>
                if 'Female Height in Ft' in height_tidy:
            NameError: name 'height_tidy' is not defined

Question 4 results:
    Question 4 - 1 result:
        ❌ Test case failed
        Trying:
            assert_true(isinstance(height_melt,pd.DataFrame))
        Expecting nothing
        **********************************************************************
        Line 1, in Question 4 0
        Failed example:
            assert_true(isinstance(height_melt,pd.DataFrame))
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 4 0[0]>", line 1, in <module>
                assert_true(isinstance(height_melt,pd.DataFrame))
            NameError: name 'assert_true' is not defined

    Question 4 - 2 result:
        ❌ Test case failed
        Trying:
            assert_true(len(height_melt[height_melt["Sex"] == "M"]) == len(height_melt[height_melt["Sex"] == "F"]))
        Expecting nothing
        **********************************************************************
        Line 1, in Question 4 1
        Failed example:
            assert_true(len(height_melt[height_melt["Sex"] == "M"]) == len(height_melt[height_melt["Sex"] == "F"]))
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 4 1[0]>", line 1, in <module>
                assert_true(len(height_melt[height_melt["Sex"] == "M"]) == len(height_melt[height_melt["Sex"] == "F"]))
            NameError: name 'assert_true' is not defined

    Question 4 - 3 result:
        ❌ Test case failed
        Trying:
            assert_true(height_melt.loc[(height_melt["Country Name"] == "Switzerland") & (height_melt["Sex"] == "F")]["Height in Cm"].values[0] == 164.33)
        Expecting nothing
        **********************************************************************
        Line 1, in Question 4 2
        Failed example:
            assert_true(height_melt.loc[(height_melt["Country Name"] == "Switzerland") & (height_melt["Sex"] == "F")]["Height in Cm"].values[0] == 164.33)
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 4 2[0]>", line 1, in <module>
                assert_true(height_melt.loc[(height_melt["Country Name"] == "Switzerland") & (height_melt["Sex"] == "F")]["Height in Cm"].values[0] == 164.33)
            NameError: name 'assert_true' is not defined

Question 5 results:
    Question 5 - 1 result:
        ❌ Test case failed
        Trying:
            assert_true(isinstance(billboard_songs, pd.DataFrame))
        Expecting nothing
        **********************************************************************
        Line 1, in Question 5 0
        Failed example:
            assert_true(isinstance(billboard_songs, pd.DataFrame))
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 5 0[0]>", line 1, in <module>
                assert_true(isinstance(billboard_songs, pd.DataFrame))
            NameError: name 'assert_true' is not defined

    Question 5 - 2 result:
        ❌ Test case failed
        Trying:
            assert_true(np.array_equal(np.unique(billboard_songs["track_id"]),np.unique(billboard_charts["track_id"])))
        Expecting nothing
        **********************************************************************
        Line 1, in Question 5 1
        Failed example:
            assert_true(np.array_equal(np.unique(billboard_songs["track_id"]),np.unique(billboard_charts["track_id"])))
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 5 1[0]>", line 1, in <module>
                assert_true(np.array_equal(np.unique(billboard_songs["track_id"]),np.unique(billboard_charts["track_id"])))
            NameError: name 'assert_true' is not defined

    Question 5 - 3 result:
        ❌ Test case failed
        Trying:
            assert_true(len(billboard_charts) == 24092)
        Expecting nothing
        **********************************************************************
        Line 1, in Question 5 2
        Failed example:
            assert_true(len(billboard_charts) == 24092)
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 5 2[0]>", line 1, in <module>
                assert_true(len(billboard_charts) == 24092)
            NameError: name 'assert_true' is not defined

Question 6 results:
    Question 6 - 1 result:
        ❌ Test case failed
        Trying:
            assert_true(name_song == "It's Gonna Be Me")
        Expecting nothing
        **********************************************************************
        Line 1, in Question 6 0
        Failed example:
            assert_true(name_song == "It's Gonna Be Me")
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 6 0[0]>", line 1, in <module>
                assert_true(name_song == "It's Gonna Be Me")
            NameError: name 'assert_true' is not defined

Question 7 results:
    Question 7 - 1 result:
        ❌ Test case failed
        Trying:
            assert_true(country_tallest_men == "Netherlands")
        Expecting nothing
        **********************************************************************
        Line 1, in Question 7 0
        Failed example:
            assert_true(country_tallest_men == "Netherlands")
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 7 0[0]>", line 1, in <module>
                assert_true(country_tallest_men == "Netherlands")
            NameError: name 'assert_true' is not defined

    Question 7 - 2 result:
        ❌ Test case failed
        Trying:
            assert_true(abs(height_tallest_men - 183.78) < 0.1)
        Expecting nothing
        **********************************************************************
        Line 1, in Question 7 1
        Failed example:
            assert_true(abs(height_tallest_men - 183.78) < 0.1)
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 7 1[0]>", line 1, in <module>
                assert_true(abs(height_tallest_men - 183.78) < 0.1)
            NameError: name 'assert_true' is not defined

Question 8 results:
    Question 8 - 1 result:
        ❌ Test case failed
        Trying:
            assert_true(country_largest_difference == "Puerto Rico")
        Expecting nothing
        **********************************************************************
        Line 1, in Question 8 0
        Failed example:
            assert_true(country_largest_difference == "Puerto Rico")
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 8 0[0]>", line 1, in <module>
                assert_true(country_largest_difference == "Puerto Rico")
            NameError: name 'assert_true' is not defined

    Question 8 - 2 result:
        ❌ Test case failed
        Trying:
            assert_true(abs(largest_difference - 16.5) < 0.1)
        Expecting nothing
        **********************************************************************
        Line 1, in Question 8 1
        Failed example:
            assert_true(abs(largest_difference - 16.5) < 0.1)
        Exception raised:
            Traceback (most recent call last):
              File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\doctest.py", line 1350, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest Question 8 1[0]>", line 1, in <module>
                assert_true(abs(largest_difference - 16.5) < 0.1)
            NameError: name 'assert_true' is not defined

Question 9 results: All test cases passed!

## Submission

Please download this notebook as a .ipynb file and submit it on Adam. To download the notebook choose 
> File->Download as->Notebook (.ipynb)

in the menu.